<ul style="font-size:.9em;">
  <li>Application Architecture:
    <ul>
      <li>Database: SQL Server Azure</li>
      <li>Data Layer: Entity Framework Core 2.0 (C#)</li>
      <li>Business Layer: Asp.Net Core 2.0 (C#)</li>
      <li>Web API: Asp.Net Core 2.0 (C#) - deployed as Azure App Service</li>
      <li>Front End: Angular 5 - deployed as Azure App Service</li>
    </ul>
  </li>
  <li>Source: <b><a href="https://github.com/JTWCo/JtwToDo">https://github.com/JTWCo/JtwToDo</a></b></li>
  <li>Development:
    <ul>
      <li>Time Spent: <b>~25 hours</b></li>
      <li>Prior Experience w/ .Net: <b>10+ years</b></li>
      <li>Prior Experience w/ SQL Server Azure: <b>Limited - 1 database created, 1 database DB migrated</b></li>
      <li>Prior Experience w/ Azure App Services: <b>None</b></li>
      <li>Prior Experience w/ .Net Core: <b>None</b></li>
      <li>Prior Experience w/ Angular & Bootstrap: <b>None</b></li>
    </ul></li>
  <li>Developer:
    <ul><img src="/assets/jtw_logo_fulll.png" height="125"/></ul>
    <ul><a href="/assets/Jennifer Wolke Resume.docx">Resume</a></ul>
    </li>
</ul>
