<div class="card" *ngIf="this.showToDo">
  <div class="card-block" *ngIf="!this.editToDo">
    <div class="row">
      <div class="col-9">
        <div style="width: 20px; float: left;"><input type="checkbox" class="todocheckbox" [checked]="todo.completed" (click)="markComplete()"/></div>
        <div style="margin-left: 20px;" style="cursor: pointer;" (click)="toggleSelected()">{{todo.description}}</div>
      </div>
      <div class="col-2" style="cursor: pointer;" (click)="toggleSelected()">{{todo.dueDate | date: "MM/dd/yyyy"}}</div>
      <div class="col-1" style="text-align: right;">
        <div *ngIf="this.selectToDo">
          <a href="#" (click)="toggleEdited()"><i class="fa fa-edit" style=""></i></a>
          <a href="#" (click)="deleteItem()"><i class="fa fa-trash" style=""></i></a>&nbsp;
        </div>
      </div>
    </div>
    <div class="row" *ngIf="this.selectToDo">
      <div class="col-12" style="margin-left: 5px; margin-right: 5px;">{{todo.notes}}</div>
    </div>
  </div>
  <div class="card-block" *ngIf="this.editToDo">
    <div class="row" style="margin-top: 5px; margin-bottom: 5px;">
      <div class="col-9"><input type="checkbox" class="todocheckbox" [(ngModel)]="todo.completed" (click)="markComplete()"> <input type="text" [(ngModel)]="todo.description"/></div>
      <div class="col-2">
        <input type="date" [ngModel]="todo.dueDate | date:'yyyy-MM-dd'" (ngModelChange)="todo.dueDate = $event">
      </div>
      <div class="col-1">
        <a href="#" (click)="saveChanges()"><i class="fa fa-check" style="float: right;"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="col-12" style="margin-left: 5px; margin-right: 5px;"><textarea rows="3" style="width: calc(100% - 10px); resize: none;" [(ngModel)]="todo.notes"></textarea></div> <!-- width hack since textarea never seems to work correctly when width is 100% -->
    </div>
  </div>
</div>
